@page "/fetchdata"
@using MiljøFestival.Shared.Models
@inject HttpClient Http

<h1>Overblik over alle vagter</h1>

@if (VagtListe == null)
{
    <p><em>Loading...</em></p>
}
else
{
<div class="table-responsive rounded">
        <table class="table table-striped">
            <thead>
                <tr class="table">
                <th>Vagt ID</th>
                <th>Start</th>
                <th>Slut</th>
                <th>Bruger ID</th>
                <th>Vagt ID</th>       
            </tr>
        </thead>
        <tbody>
            @foreach (var vagt in VagtListe)
            {
                <tr>
                    <td><input type="button" class="btn btn-danger" value="Slet"></td>
                            <td>@vagt.Vagt_Id</td>
                            <td>@vagt.Start</td>
                            <td>@vagt.Slut</td>
                            <td>@vagt.Bruger_Id</td>
                            <td>@vagt.Vagt_Id</td>
                </tr>
            }
        </tbody>
    </table>
    </div>
}

@code {
    private List<Vagt> VagtListe;
    private List<Vagt> VagtListeUnsorted;

    private bool editmode = false;

    protected override async Task OnInitializedAsync()
    {
        VagtListeUnsorted = await Http.GetFromJsonAsync<List<Vagt>>("Vagt/all");

        VagtListe = VagtListeUnsorted.OrderBy(q => q.Vagt_Id).ToList();

    }


    

   
}