@page "/frivilligTagVagt"
@using MiljøFestival.Shared.Models
@inject HttpClient Http
@inject MiljøFestival.Shared.Models.LogedIn LogedIn

<p>Bruger Id: @LogedIn.Bruger_Id</p>
<p>Koordinator?: @LogedIn.Koordinator</p>

@if (VagtListe == null)
{
    <p><em>Loading...</em></p>
}
else if (LogedIn.LoggetPå == true)
{
    <div class="table-responsive rounded">
        <table class="table table-striped">
            <thead>
                <tr class="table">
                    <th>Dato</th>
                    <th>Start</th>
                    <th>Slut</th>
                    <th>Opgave</th>
                    <th>Beskrivelse</th>
                    <th> Tag vagt </th> 
                </tr>
            </thead>
            <tbody>
                @foreach (var vagt in VagtListe)
                {
                    <tr>
                        <td>@vagt.Start.ToShortDateString()</td>
                        <td>@vagt.Start.ToShortTimeString()</td>
                        <td>@vagt.Slut.ToShortTimeString()</td>
                        <td>@vagt.Opgave_Navn</td>
                        <td>Coming soon</td>
                        <td><input type="button" class="btn btn-primary" value="Tag vagt" @onclick="() => TagVagt(vagt)"></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
} else
{
    <p><em>Log in for at se ledige vagter</em></p>
}

@code {
    private List<Vagt> VagtListe;
    private List<Vagt> VagtListeUnsorted;

    // Henter alle ledige vagter (taget_af == null)
    protected override async Task OnInitializedAsync()
    {
        VagtListeUnsorted = await Http.GetFromJsonAsync<List<Vagt>>("Vagt/ledigeVagter");

        VagtListe = VagtListeUnsorted.OrderBy(q => q.Vagt_Id).ToList();

    }


    // Tager vagt og opdaterer ledige vagter
    protected async Task TagVagt(Vagt vagt)
    {

        vagt.Bruger_Id = LogedIn.Bruger_Id;

        await Http.PostAsJsonAsync<Vagt>("Vagt/tagVagt", vagt);

        await OnInitializedAsync();

    }
}
