@page "/frivillige"
@using MiljøFestival.Shared.Models
@inject HttpClient Http
@inject MiljøFestival.Shared.Models.Bruger LogedInBruger

<h1>Overblik over alle brugere</h1>

@if (BrugerListeUnsorted == null)
{
    <p><em>Loading...</em></p>
}
else if (LogedInBruger.ErLoggetPå())
{
    <h1>Formand</h1>
    <div class="table-responsive rounded">
        <table class="table table-striped">
            <thead>
                <tr class="table">
                    <th>Navn</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var bruger in FormandListe)
                {
                    <tr>
                        <td>@bruger.Fornavn @bruger.Efternavn</td>
                        <td>@bruger.Email</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <h1>Frivillige</h1>
    <div class="table-responsive rounded">
        <table class="table table-striped">
            <thead>
                <tr class="table">
                    <th>Navn</th>
                    <th>Team</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var bruger in FrivilligListe)
                {
                    <tr>
                        <td>@bruger.Fornavn @bruger.Efternavn</td>
                        <td>@bruger.Team</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <h1>Koordinatorer</h1>
    <div class="table-responsive rounded">
        <table class="table table-striped">
            <thead>
                <tr class="table">
                    <th>Navn</th>
                    <th>Telefon</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var bruger in KoordinatorListe)
                {
                    <tr>
                        <td>@bruger.Fornavn @bruger.Efternavn</td>
                        <td>@bruger.Telefon</td>
                        <td>@bruger.Email</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

@code {
    private List<Bruger> FrivilligListe;
    private List<Bruger> KoordinatorListe;
    private List<Bruger> FormandListe;
    private List<Bruger> BrugerListeUnsorted;
    private List<string> teams = new List<string>();


    protected override async Task OnInitializedAsync()
    {
        BrugerListeUnsorted = await Http.GetFromJsonAsync<List<Bruger>>("Bruger/all");
        FrivilligListe = BrugerListeUnsorted.FindAll(q => q.Rolle_Id == 2).OrderBy(q => q.Team).ToList();
        KoordinatorListe = BrugerListeUnsorted.FindAll(q => q.Rolle_Id == 1);
        FormandListe = BrugerListeUnsorted.FindAll(q => q.Rolle_Id == 3);
        teams = await Http.GetFromJsonAsync<List<string>>("Team/all");
    }

}