@page "/frivilligStartside"
@using MiljøFestival.Shared.Models
@inject HttpClient Http
@inject Client.Shared.LogedIn LogedIn

<p>Bruger Id: @LogedIn.Bruger_Id</p>
<p>Koordinator?: @LogedIn.Koordinator</p>

@if (VagtListe == null)
{
    <p><em>Loading...</em></p>
}
else if (LogedIn.LoggetPå == true)
{
    <div class="table-responsive rounded">
        <table class="table table-striped">
            <thead>
                <tr class="table">
                    <th>Dato</th>
                    <th>Start</th>
                    <th>Slut</th>
                    <th>Opgave</th>
                    <th>Beskrivelse</th>
                    <th>Slet vagt</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var vagt in VagtListe)
                {
                    <tr>
                        <td>@vagt.Start.ToShortDateString()</td>
                        <td>@vagt.Start.ToShortTimeString()</td>
                        <td>@vagt.Slut.ToShortTimeString()</td>
                        <td>@vagt.Opgave_Navn</td>
                        <td>Coming soon</td>
                        <td><input type="button" class="btn btn-danger" value="Slet" @onclick="() => SletVagt(vagt)"></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
} else
{
    <p><em>Log in for at se dine vagter</em></p>
}

@code {
    private List<Vagt> VagtListe;
    private List<Vagt> VagtListeUnsorted;

    protected override async Task OnInitializedAsync()
    {
        VagtListeUnsorted = await Http.GetFromJsonAsync<List<Vagt>>($"Vagt/brugerVagter?brugerid={LogedIn.Bruger_Id}");

        VagtListe = VagtListeUnsorted.OrderBy(q => q.Vagt_Id).ToList();

    }

     // Sletter vagt, sætter bruger_id til null og henter vagtlisten igen
    protected async Task SletVagt(Vagt vagt)
    {
        await Http.PostAsJsonAsync<Vagt>("Vagt/sletVagt", vagt);

        await OnInitializedAsync();
    }
}
