@page "/login"
@using MiljøFestival.Shared.Models
@inject HttpClient Http
@inject NavigationManager UriHelper
@inject MiljøFestival.Shared.Models.LogedIn LogedIn

<p>Bruger Id: @LogedIn.Bruger_Id</p>
<p>Koordinator?: @LogedIn.Koordinator</p>


<h1>Test dit login!</h1>

<p> @godkendt </p>

@if (LogedIn.LoggetPå == false)
{
    <EditForm EditContext="@EditContext" class="row p-3" OnSubmit="@HandleSubmit">
        <DataAnnotationsValidator />
        <div class="col-md-12 mb-3">
            <label for="Email">Email</label>
            <InputText id="Email" @bind-Value="bruger.Email" class="form-control" />
            <ValidationMessage For="@(() => bruger.Email)" />
        </div>
        <div class="col-md-12 mb-3">
            <label for="Kode">Kode</label>
            <InputText id="Kode" @bind-Value="bruger.Kode" class="form-control" />
            <ValidationMessage For="@(() => bruger.Kode)" />
        </div>
        <div class="col-12 mb-3">
            <button type="submit" class="btn btn-primary">Tjek</button>
        </div>
    </EditForm>
        <NavLink class="nav-link" href="opretbruger">
            <button class="btn btn-primary">Opret bruger</button>
        </NavLink>
}
else
{
    <div class="col-12 mb-3">
        <button @onclick="LogAf" class="btn btn-primary">Log af</button>
    </div>
}

@code {
    private Bruger bruger = new Bruger();
    private EditContext EditContext;
    private string godkendt = string.Empty;

    protected override void OnInitialized()
    {
        EditContext = new EditContext(bruger);
    }

    protected void LogAf()
    {
        godkendt = string.Empty;

        LogedIn.Bruger_Id = null;
        LogedIn.Koordinator = false;
        LogedIn.LoggetPå = false;
    }

    protected async Task<IEnumerable<Bruger>> TjekLogin(Bruger user)
    {

        return await Http.GetFromJsonAsync<IEnumerable<Bruger>>($"Bruger/tjeklogin?email={bruger.Email}&kode={bruger.Kode}");

    }

    private async Task HandleSubmit()
    {

        IEnumerable<Bruger> verificerBruger = await TjekLogin(bruger);

        if (verificerBruger.First().Bruger_Id != 0)
        {
            Bruger logedinBruger = verificerBruger.First();
            // Ændre det her og slet LogedIn klassen
            LogedIn.Bruger_Id = logedinBruger.Bruger_Id;
            LogedIn.Koordinator = logedinBruger.Koordinator;
            LogedIn.LoggetPå = true;

            godkendt = "Godkendt!";

            bruger = new Bruger();


        }
        else
        {
            godkendt = "Forkert, prøv igen...";
        }
    }

}