@page "/profil"
@using MiljøFestival.Shared.Models
@inject HttpClient Http
@inject MiljøFestival.Shared.Models.Bruger LogedInBruger


<h1>Profil for bruger</h1>

@if (bruger == null)
{
    <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
}
else if (LogedInBruger.ErLoggetPå())
{
    <div class="row">
        <div class="profilContainer col-md-6">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingFornavn" @bind="bruger.Fornavn">
                <label for="floatingFornavn">Fornavn</label>
            </div>

            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingEfternavn" @bind="bruger.Efternavn">
                <label for="floatingEfternavn">Efternavn</label>
            </div>

            <div class="form-floating mb-3">
                <input type="tel" class="form-control" id="floatingTelefon" @bind="bruger.Telefon">
                <label for="floatingTelefon">Telefon</label>
            </div>

            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" @bind="bruger.Adresse">
                <label for="floatingInput">Adresse</label>
            </div>

            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput" @bind="bruger.Email">
                <label for="floatingInput">Email adresse</label>
            </div>
            <div class="form-floating mb-3">
                <select class="form-control" id="Team" @bind="bruger.Team" required>
                    <option selected>@bruger.Team</option>
                    @foreach (var team in teams)
                    {
                        <option>@team</option>
                    }
                </select>
                <label for="Team">Team</label>
            </div>
            <div class="col-6 my-3">
                <button class="btn btn-primary" type="button" @onclick="() => OpdaterBruger(bruger)">Gem ændringer</button>
            </div>
            <div class="passwordContainer col-md-6">
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="floatingPassword" @bind="bruger.Kode">
                    <label for="floatingPassword">Password</label>
                </div>
                <div class="col-6">
                    <button class="btn btn-outline-primary" type="button" @onclick="() => OpdaterPassword(bruger)">Opdater password</button>
                </div>
            </div>
        </div>

        <div class="kompetenceContainer col-md-6">
            <p>Kompetencer</p>
            <form method="get">
                @foreach (var kompetence in kompetencer)
                {
                    <div class="form-floating mb-3">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="valgteKomptencer" id="@kompetence">
                            <label class="form-check-label" for="@kompetence">@kompetence</label>
                        </div>
                    </div>
                }
                <div class="col-md-6">
                    <inu class="btn btn-outline-primary" type="submit">Opdater kompetencer</inu>
                </div>
            </form>
        </div>
    </div>
    <form method="get">
        @for (var i = 1; i <= 10; i++)
        {
            <input name="AreChecked" type="checkbox" value="@i" /> @i

            <br />
        }
        <button>Click</button>
    </form>

}
else
{
    <div class="alert alert-info col-3" ¨>
        <span class="oi oi-account-login" aria-hidden="true"></span>
        <strong> Hov!</strong> <a href="/login">Log in</a> for at se og redigere din profil!
    </div>

}

@code {
    private Bruger bruger = new Bruger();
    private List<string> teams = new List<string>();
    private List<string> kompetencer = new List<string>();
    public bool IsChecked { get; set; }


    // Kan slettes med LogedInBruger -> Virker ikke endnu
    protected override async Task OnInitializedAsync()
    {
        if (LogedInBruger.Bruger_Id != 0)
        {
            var brugerListe = await Http.GetFromJsonAsync<IEnumerable<Bruger>>($"Bruger/findBrugerId?bruger_id={LogedInBruger.Bruger_Id}");

            bruger = brugerListe.First();

            teams = await Http.GetFromJsonAsync<List<string>>("Team/all");
            kompetencer = await Http.GetFromJsonAsync<List<string>>("Kompetence/all");

        }
    }

    protected async Task OpdaterBruger(Bruger bruger)
    {
        // Opdater nuværende bruger
        LogedInBruger.Bruger_Id = bruger.Bruger_Id;
        LogedInBruger.Fornavn = bruger.Fornavn;
        LogedInBruger.Efternavn = bruger.Efternavn;
        LogedInBruger.Telefon = bruger.Telefon;
        LogedInBruger.Email = bruger.Email;
        LogedInBruger.Adresse = bruger.Adresse;
        LogedInBruger.Team_Id = bruger.Team_Id;
        LogedInBruger.Team = bruger.Team;

        await Http.PostAsJsonAsync<Bruger>("Bruger/opdater", bruger);

        await OnInitializedAsync();
    }

    private async Task OpdaterPassword(Bruger bruger)
    {
        await Http.PostAsJsonAsync<Bruger>("Bruger/opdaterPassword", bruger);

        await OnInitializedAsync();

    }
}
