@page "/alleopgave"
@using MiljøFestival.Shared.Models
@inject HttpClient Http

<h1>Overblik over alle opgaver</h1>

@if (opgaveListe == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="table-responsive rounded">
        <table class="table table-striped">
            <thead>
                <tr class="table">
                    <th>Opgave ID</th>
                    <th>Navn</th>
                    <th>Beskrivelse</th>
                    <th>Status</th>
                    <th>Team</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var opgave in opgaveListe)
                {
                    <tr>
                        <td>@opgave.Opgave_Id</td>
                        <td>@opgave.Navn</td>
                        <td>@opgave.Beskrivelse</td>
                        <td>@opgave.Status</td>
                        <td>@opgave.Team</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

@code {
    private List<Opgave> opgaveListe;
    private List<Opgave> opgaveListeUnsorted;

    protected override async Task OnInitializedAsync()
    {
        opgaveListeUnsorted = await Http.GetFromJsonAsync<List<Opgave>>("Opgave/all");

        opgaveListe = opgaveListeUnsorted.OrderBy(q => q.Opgave_Id).ToList();

    }





}