@page "/frivilligStartside"
@using MiljøFestival.Shared.Models
@inject HttpClient Http
@inject MiljøFestival.Shared.Models.Bruger loggedInBruger

@if (vagtListe == null)
{
    <div class="d-flex justify-content-center">
        <div class="spinner-border text-success" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
}
else if (loggedInBruger.ErKoordinator())
{
    <p><em>Du skal være frivillig for at se denne side</em></p>
}
else if (loggedInBruger.ErLoggetPå())
{
    <main class="col-md-7 mx-auto">
        <h1 class="display-4 text-center mb-4">Dit dashboard</h1>
        <p class="lead">Hej <bold>@loggedInBruger.Fornavn</bold>! Nedenfor kan du se en oversigt over alle dine nuværende vagter samt en liste over alle dine medfrivillige i dit team
            <br /><br /><i>OBS:</i> Dine vagter kan kun frigives, når selve opgaven er i planlægnings-status.</p>

        @*Dashboard Tabel*@
        <div class="table-responsive rounded mt-4">
            <table class="table table-striped">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Dato</th>
                        <th scope="col">Start</th>
                        <th scope="col">Slut</th>
                        <th scope="col">Opgave</th>
                        <th scope="col">Beskrivelse</th>
                        <th scope="col">Status</th>
                        <th scope="col">Frigiv vagt</th>
                    </tr>
                </thead>
                <tbody>
                    @* Laver en række for hver vagt, den frivillige har taget *@
                    @foreach (var vagt in vagtListe)
                    {
                        <tr>
                            <th scope="row">@vagt.Start.ToShortDateString()</th>
                            <td>@vagt.Start.ToShortTimeString()</td>
                            <td>@vagt.Slut.ToShortTimeString()</td>
                            <td>@vagt.Opgave</td>
                            <td>@vagt.Beskrivelse</td>
                            <td>@vagt.Status</td>
                            @* Gør det muligt for den frivillige at frigive sin vagt,
                                hvis statussen er i "Planlægning" *@
                            @if (vagt.Status == "Planlægning")
                            {
                                <td><input type="button" class="btn btn-danger" value="Frigiv" @onclick="() => FrigivVagt(vagt)"></td>
                            }
                            else
                            {
                                <td><input type="button" class="btn btn-danger" value="Frigiv" disabled></td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </main>
    @*Team Tabel*@
    <div class="col-md-7 mx-auto mt-4">
        <h3>@loggedInBruger.Team-holdet</h3>
        <p class="lead">Liste over alle dine kollegaer i dit team:</p>
        <div class="table-responsive rounded mt-2">
            <table class="table table-striped">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Frivillige</th>
                        <th scope="col">Telefon</th>
                        <th scope="col">Rolle</th>
                    </tr>
                </thead>
                <tbody>
                    @* Laver en række for hver i sit team med deres navn, telefon og rolle *@
                    @foreach (var bruger in frivilligListe)
                    {
                        <tr>
                            <td>@bruger.Fornavn @bruger.Efternavn</td>
                            <td>@bruger.Telefon</td>
                            <td>@bruger.Rolle</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}
else
{
    <div class="alert alert-info col-md-3 mx-auto">
        <span class="oi oi-account-login" aria-hidden="true"></span>
        <strong> Hov!</strong> <a href="/login">Log in</a> for at se dine vagter!
    </div>

}

@code {
    private List<Vagt> vagtListe;
    private List<Vagt> vagtListeUnsorted;
    private List<Bruger> brugerListeUnsorted;
    private List<Bruger> frivilligListeUnsorted;
    private List<Bruger> frivilligListe;

    // Henter lister over alle vagter, brugere og frivillige
    protected override async Task OnInitializedAsync()
    {
        vagtListeUnsorted = await Http.GetFromJsonAsync<List<Vagt>>($"Vagt/brugerVagter?brugerid={loggedInBruger.Bruger_Id}");

        vagtListe = vagtListeUnsorted.OrderBy(q => q.Vagt_Id).ToList();

        brugerListeUnsorted = await Http.GetFromJsonAsync<List<Bruger>>("Bruger/all");

        frivilligListeUnsorted = brugerListeUnsorted.FindAll(q => q.Rolle_Id == 2).ToList();

        frivilligListe = frivilligListeUnsorted.FindAll(x => x.Team == loggedInBruger.Team).ToList();
    }

    // Frigiver vagt (sætter bruger_id til null) og henter vagtlisten igen
    private async Task FrigivVagt(Vagt vagt)
    {
        await Http.PutAsJsonAsync<Vagt>("Vagt/frigivVagt", vagt);

        await OnInitializedAsync();
    }
}
