@page "/frivilligTagVagt"
@using MiljøFestival.Shared.Models
@inject HttpClient Http
@inject MiljøFestival.Shared.Models.Bruger loggedInBruger

@if (VagtListe == null)
{
    <div class="d-flex justify-content-center">
        <div class="spinner-border text-success" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
}
else if (loggedInBruger.ErKoordinator() || loggedInBruger.ErFormand())
{
    <div class="alert alert-info col-md-3 mx-auto">
        <span class="bi bi-door-open-fill" aria-hidden="true"></span>
        <strong> Hov!</strong> Du skal være logget på en frivillig bruger for at se denne side.
    </div>
}
else if (loggedInBruger.ErLoggetPå())
{
    <div class="col-md-7 mx-auto">

        <h1 class="display-4">Ledige vagter</h1>
        <p class="lead">Her er en liste over ledige vagter for dit team - <strong>@loggedInBruger.Team</strong></p>

        <div class="table-responsive rounded mt-4">
            <table class="table table-striped">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Dato</th>
                        <th scope="col">Start</th>
                        <th scope="col">Slut</th>
                        <th scope="col">Opgave</th>
                        <th scope="col">Beskrivelse</th>
                        <th scope="col">Tag vagt</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var vagt in VagtListe)
                    {
                        <tr>
                            <td scope="row">@vagt.Start.ToShortDateString()</td>
                            <td>@vagt.Start.ToShortTimeString()</td>
                            <td>@vagt.Slut.ToShortTimeString()</td>
                            <td>@vagt.Opgave</td>
                            <td>@vagt.Beskrivelse</td>
                            <td><button type="button" class="btn btn-primary" @onclick="() => TagVagt(vagt)"><i class="bi bi-clipboard-check-fill"></i> Tag vagt</button></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}

@code {
    private List<Vagt> VagtListe;
    private List<Vagt> VagtListeUnsorted;

    // Henter alle ledige vagter (taget_af == null)
    protected override async Task OnInitializedAsync()
    {
        VagtListeUnsorted = await Http.GetFromJsonAsync<List<Vagt>>($"Vagt/ledigeVagter?team_id={loggedInBruger.Team_Id}");

        VagtListe = VagtListeUnsorted.OrderBy(q => q.Vagt_Id).ToList();
    }

    // Tager vagt og opdaterer ledige vagter
    private async Task TagVagt(Vagt vagt)
    {
        vagt.Bruger_Id = loggedInBruger.Bruger_Id;

        await Http.PutAsJsonAsync<Vagt>("Vagt/tagVagt", vagt);

        await OnInitializedAsync();
    }
}
