@page "/frivillige"
@using MiljøFestival.Shared.Models
@inject HttpClient Http
@inject MiljøFestival.Shared.Models.Bruger loggedInBruger

<h1>Overblik over alle brugere</h1>

@if (brugerListeUnsorted == null)
{
    <p><em>Loading...</em></p>
}
else if (loggedInBruger.ErLoggetPå())
{
    <h1>Formand</h1>
    <div class="table-responsive rounded">
        <table class="table table-striped">
            <thead>
                <tr class="table">
                    <th>Navn</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var bruger in formandListe)
                {
                    <tr>
                        <td>@bruger.Fornavn @bruger.Efternavn</td>
                        <td>@bruger.Email</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <h1>Frivillige</h1>
    <div class="table-responsive rounded">
        <table class="table table-striped">
            <thead>
                <tr class="table">
                    <th>Navn</th>
                    <th>Team</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var bruger in frivilligListe)
                {
                    <tr>
                        <td>@bruger.Fornavn @bruger.Efternavn</td>
                        <td>@bruger.Team</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <h1>Koordinatorer</h1>
    <div class="table-responsive rounded">
        <table class="table table-striped">
            <thead>
                <tr class="table">
                    <th>Navn</th>
                    <th>Telefon</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var bruger in koordinatorListe)
                {
                    <tr>
                        <td>@bruger.Fornavn @bruger.Efternavn</td>
                        <td>@bruger.Telefon</td>
                        <td>@bruger.Email</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

@code {
    private List<Bruger> frivilligListe;
    private List<Bruger> koordinatorListe;
    private List<Bruger> formandListe;
    private List<Bruger> brugerListeUnsorted;
    private List<string> teams = new List<string>();

    protected override async Task OnInitializedAsync()
    {
        brugerListeUnsorted = await Http.GetFromJsonAsync<List<Bruger>>("Bruger/all");

        frivilligListe = brugerListeUnsorted.FindAll(q => q.Rolle_Id == 2).OrderBy(q => q.Team).ToList();

        koordinatorListe = brugerListeUnsorted.FindAll(q => q.Rolle_Id == 1);

        formandListe = brugerListeUnsorted.FindAll(q => q.Rolle_Id == 3);

        teams = await Http.GetFromJsonAsync<List<string>>("Team/all");
    }
}